
/SDK/projects/*/Listings/
/SDK/projects/*/obj/
/SDK/projects/*/*.uvgui.*
/SDK/projects/*/*/Listings/
/SDK/projects/*/*/obj/
/SDK/projects/*/*/*.uvgui.*

/SDK/projects/*/output/app/
/SDK/projects/*/*/output/app/
/SDK/projects/*/build/
/SDK/projects/*/*.bak
/SDK/projects/*/*.bk*
/SDK/projects/*/*/output/app/
/SDK/projects/*/*/*/output/app/
/SDK/projects/*/*/build/
/SDK/projects/*/*/*.bak
/SDK/projects/*/*/*.bk*

*.o
*.d
*.crf
*.dep
*.uvguix
*.uvguix.*
*.htm
*.out
*.axf
*.hex
*.dmp
*.map
*.elf
*.lnp
*.log
*.uvopt
*.bak
*.bk*
*.xml
*.lst

*.IAB
*.IAD
*.IMB
*.IMD
*.PFI
*.PO
*.PR
*.PRI
*.PS
*.SearchResults
*.WK3
*.sip_sym
*.sip_xab
*.sip_xad
*.sip_xc
*.sip_xf
*.sip_xm
*.sisc
*.sip_xr
*.sip_xsb
*.sip_xsd
*.siproj
build_log.txt



